<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>
    <h1>Add a new student</h1>
    <form method="POST">
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        E-mail: <input type="email" name="email"><br>
        Group: <input type="text" name="skupina"><br>
        Password: <input type="password" name="password"><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>
